li{
    color: rgb(62, 243, 7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
h1{/* si pongo asi cambia el estilo en todos los h1 de todas las paginas */
    color: blue;
}